body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f0f8ff;
}

.contact-form-section {
  padding: 80px 20px;
  text-align: center;
  background-color: #f0f8ff;
}

.contact-form-section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #222;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007bff;
  outline: none;
}

.form-group textarea {
  resize: vertical;
}

.submit-btn {
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  visibility: hidden;
  font-size: 0.9rem;
}

#product-list-ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

#product-list-ul li {
  font-size: 1.1rem;
  margin: 10px 0;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#product-list-ul li button {
  margin-left: 15px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.update-btn {
  background-color: #ffc107;
  color: #333;
}

.update-btn:hover {
  background-color: #e0a800;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.delete-btn:hover {
  background-color: #c82333;
}

/* ----Sizes---- */

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .contact-form {
    width: 80%;
    max-width: 80%;
  }

  .contact-form-section h2 {
    font-size: 2.2rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 1rem;
    padding: 9px;
  }

  .submit-btn {
    font-size: 1rem;
    padding: 10px 18px;
  }
}


@media only screen and (max-width: 600px) {
  .contact-form {
    padding: 15px;
    width: 100%;
    max-width: 90%;
  }

  .contact-form-section h2 {
    font-size: 2rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.9rem;
    padding: 8px;
  }

  .submit-btn {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}